* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #f57f20;
  --secondary: #3ea9dbf2;
  --primaryBackground: #fafafa;
  --secondaryBackground: #e9e9e9;
  --cardColor: #fefefe;
  --primaryTxt: #0b152c;
}

.appContainer {
  width: 100%;
  height: auto;
  background-color: var(--secondaryBackground);
  display: flex;
  position: relative;
}
.mainContainer {
  position: relative;
  /* left: 250px; */
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 250px);
  min-height: 100vh;
  /* background: #fefefe; */
  /* padding: 20px; */
}

/* display for modal title */
.display {
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.1em;
  color: #00132c;
}
/* header for page title */
.header {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #00132c;
}

/* tabs, titles, forms */
.title-1 {
  /*\ font-family: 'Noto Sans', sans-serif;
  font-style: normal; */
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* letter-spacing: 0.1em; */
  color: #00132c;
}

/* buttons, titles, forms */
.title-2 {
  /* font-family: 'Noto Sans', sans-serif;
  font-style: normal; */
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #00132c;
}

/* intro paragraphs */
.headline {
  /* font-family: 'Noto Sans', sans-serif;
  font-style: normal; */
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #00132c;
}

/* paragraphs */
.paragraphs {
  /* font-family: 'Noto Sans', sans-serif;
  font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #00132c;
}

/* captions time stamps, footer */
.cations {
  /* font-family: 'Noto Sans', sans-serif;
  font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.contentContainer {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--primaryBackground);
  margin-bottom: 16px;
  padding: 5px 8px;
  box-shadow: rgb(188 178 178 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(185 172 172 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
}

.allMarginBtn {
  margin: 10px;
}

.onlyCard .ant-card-body {
  padding: 1px;
}

.buttonRadius {
  border-radius: 0.375rem;
}

.floatRight {
  float: right;
}

.text-center {
  text-align: center;
}

.login_content {
  padding-top: 25vh;
}

.marbot {
  margin-bottom: 8px;
}

.customNavLink {
  color: #000;
}

.dropMenuClass {
  cursor: pointer;
}

.languageButton {
  background: radial-gradient(black, transparent);
  border: none;
}

.tableReponsive {
  overflow-y: auto;
}

.navTitle {
  display: inline-block;
  flex: 1 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logoImg {
  width: 80px;
}